.form-label {
    margin-bottom: 0.5rem;
    padding: 0.55rem 1rem;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e9ecef;
    --bs-btn-border-color: #fff
}

#annoteren {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #154273;
    margin-left: 15px;
}

.form-control {
    margin-left: 10px;
    width: 95%;
    background-color: #e9ecef;
    padding: 0.5rem 0.75rem
}

button#dropdown-basic.dropdown.dropdown-toggle.btn.btn-secondary {
    margin-left: 10px;
    width: 95%;
    color: #000;
}

.buttonGroup {
    display: flex;
    justify-content: right;
}

.annotationName {
    font-size: 14px;
    margin: 0;
}

.left-column, .right-column {
    height: calc(100lvh - 50px);
    overflow: auto;
    width: 100%;
}


.left-column, .right-column {
    border-right: 1px solid lightgray;
    padding: 40px 30px;
}

.row {
    display: flex;
    justify-content: start;
    margin: 0 1.5rem 1.5rem 1rem;
}

.iconRow {
    position: absolute;
    right: 10px;
    top: 7px;
    margin-bottom: 4% !important;
    cursor: pointer;
}

.iconRow:hover svg {
    color: rgb(0, 0, 0) !important;
}

.iconRow svg {
    color: #404040 !important;
}

.annotationTitle {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    margin: .5rem 0;
    cursor: pointer;
}

.align {
    text-align: right;
}

.annotationInfo {
    margin-bottom: 10px;
}

.leftCol {
    width: 30%;
}

.rightCol {
    width: 65%;
}

.iconCol {
    width: 5%;
    min-width: 20px;
    min-height: 20px;
}

.buttonGroup {
    display: flex;
    justify-content: right;
}

.annotationName {
    font-size: 14px;
    margin: 0;
}


.left-column, .right-column {
    flex: 1 1;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 12px 0 rgba(0, 0, 0, 0.19);
}

.buttonsRight {
    display: flex;
    justify-content: end;
}

.relation-buttons {
    padding: 0 1rem 10px;
}

.relation-buttons p {
    font-size: 14px;
    margin-bottom: 5px;
}

.relation-buttons:not(:has(button)) {
    display: none;
}