/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/static/annotations.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.navbar {
    background-color: #003366; 
    height: 50px;
  }
  
  .container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .left-column, .right-column {
    flex: 1 1;
    border: 1px solid #ccc;
    padding: 10px;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: currentColor;
}
  

  
  
