/* src/app/components/export/ExportXMLButton.module.css */

.exportButton {
    font-size: 16px !important;
    cursor: pointer;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 20px !important;
    transition: .2s;
    color: #000 !important;
    background: #F2E78661 !important;
    border: 1px solid #C0B44F !important;
}

BsDownload {
    margin-right: 10px;
}