/* src/app/components/export/ExportXMLButton.module.css */

.exportButton {
    background-color: #f0e68c;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.exportButton:hover {
    background-color: #e6db74;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

BsDownload {
    margin-right: 10px;
}