.navbar {
  background-color: #007bc0;
  height: 50px;
  font-size: 22px;
}

.navbar-title {
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
  font-size: 22px;
}

.buttons {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.term-button {
  font-size: 14px;
  color: #000;
  cursor: pointer;
  margin-left: 10px;
  padding: 7px 10px;
  border-radius: 5px;
  transition: 0.2s;
  border: none;
  background: #3d9acf;
  text-decoration: none;
  text-transform: uppercase;
}

.term-button:hover {
  background-color: rgb(87, 163, 207);
}
