.title {
    color: #154270;
    margin: 3rem;
}

.image {
    max-width: 200px;

    display: block;
    margin-left: auto;
}

.topBar {
    display: flex;
}
.annotatedRow {
    margin: 1rem;
}

.modalContainer {
    background-color: rgb(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all ease 1s;
}

.imageModal {
    max-width: 50%;
}


