html {
  overflow: hidden;
}

.navbar {
  background-color: #007BC0;
  height: 50px;
}

#annoteren {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #154273;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.navbar-title {
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
  font-size: 22px;
}

.dropdown {
  width: 100%;
}

.notebox {
  height: 50% !important;
}

.warning-text-color:hover {
  color: white !important;
}

.left-column, .right-column {
  height: calc(100lvh - 50px);
  overflow: auto;
  width: 100%;
}


.left-column {
  border-right: 1px solid lightgray;
  padding: 40px 30px;
}
