.navbar {
  background-color: #007BC0;
  height: 50px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left-column, .right-column {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
}

.navbar-title {
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
  font-size: 22px;
}

.dropdown {
  width: 100%;
}

.notebox {
  height: 50% !important;
}

.warning-text-color:hover {
  color: white !important;
}

.left-column, .right-column {
  flex: 1 1;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 12px 0 rgba(0, 0, 0, 0.19);
}