.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background-color: #0056b3;
}

.header h1 {
  font-size: 24px;
  color: #333;
}
.navbar {
  background-color: #007BC0;
  height: 50px;
  font-size: 22px;
}

.navbar-title {
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
  font-size: 22px;
}

.doc-text {
  color: #154270 !important;
  font-size: 22px !important;
  font-weight: bold;
}

.import-button {
  background-color: #EBEBEB !important;
  color: #000 !important;
  border-color: #B1B1B1 !important;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 20px;
}

.import-button:hover {
  background-color: #0056b3;
}

.main-content h2 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.document-info {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
}

.document-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #FBFBFB;
  margin: 10px;
  border-radius: 10px;
}

.document-title {
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

.open-button {
  padding: 5px 10px;
  background-color: #EBEBEB !important;
  color: #000 !important;
  border-color: #B1B1B1 !important;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.open-button:hover {
  background-color: #15803d;
}

.delete-icon {
  font-size: 24px;
  color: #ef4444;
  cursor: pointer;
  margin-left: 10px; /* Add margin to separate the delete icon */
}

.delete-icon:hover {
  color: #b91c1c;
}

.download-icon{
  padding-right: 5px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: currentColor;
}

button.success {
  border-radius: 16px;
  border: 1px solid #3A9B38 !important;
  background: rgba(76, 167, 74, 0.42);
  font-size: 12px;
  color: #000 !important;
  transition: .2s;
}

button.success:hover {
  background-color: rgba(76, 167, 74, 0.62);
}

