.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background-color: #0056b3;
}

.header h1 {
  font-size: 24px;
  color: #333;
}

.doc-text {
  color: #154270 !important;
  font-size: 22px !important;
  font-weight: bold;
}

.import-button {
  background-color: #EBEBEB !important;
  color: #000 !important;
  border: 1px solid #B1B1B1 !important;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.import-button svg {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.import-button:hover {
  background-color: #0056b3;
}

.main-content h2 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.document-info {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
}

.document-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #FBFBFB;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  transition: .2s;
}

.document-item:hover {
  background-color: #f5f5f5;
}

.document-title {
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

.open-button {
  padding: 8px 20px;
  background-color: #EBEBEB !important;
  color: #000 !important;
  border: 1px solid #B1B1B1 !important;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  transition: .2s;
}

.open-button:hover {
  background-color: #dfdfdf !important;
}

.delete-button {
  font-size: 24px;
  color: #000;
  cursor: pointer;
  margin-left: 10px; /* Add margin to separate the delete icon */
  padding: 0 10px;
  background: #FACACA;
  border: 1px solid #CA5858;
  border-radius: 5px;
  transition: .2s;
}

.delete-button svg {
  width: 18px;
  height: 18px;
}

.delete-button:hover {
  background: #e69d9d;
}

.download-icon{
  padding-right: 5px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: currentColor;
}

button.success:hover {
  background-color: rgba(76, 167, 74, 0.62);
}

.xml-minmax {
  background: #f4f4f4;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 0;
}

.save, .cancel, .delete {
  font-size: 16px !important;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 10px;
  border-radius: 20px !important;
  transition: .2s;
  color: #000 !important;
}


button.save {
  background: #4CA74A41 !important;
  border: 1px solid #3A9B38 !important;
}

button.cancel {
  background: #F2E78661 !important;
  border: 1px solid #C0B44F !important;
}

button.delete {
  background: #FACACA !important;
  border: 1px solid #CA5858 !important;
}
