.row {
    display: flex;
    justify-content: start;
    margin: 1.5rem;
}

.annotationTitle{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    margin: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.align {
    text-align: right;
}

.annotationInfo {
    background-color: #FAFAFA;
    border-radius: 0.75rem;
    padding: 0.25rem 0 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftCol {
    width: 30%;
}
.rightCol {
    width: 65%;
}
.iconCol {
    width: 5%;
}
